.sigin--container__main {
    height: 700px;
    width: 100%;
    @include flex(center, center);
    background-image: url('./images/library.jpg');
    background-position: center;
    background-size: cover;
    color: white;
}

.signin--container__inner {
    width: 350px;
    @include flex(center, center);
    flex-direction: column;
    background-color: rgba(0,0,0,.2);
    padding: 30px 40px;
    border: 4px solid $blue;
    box-sizing: content-box; 
}

.signin--heading {
    font-size: 60px;
    margin-bottom: 30px;
}

.signin--input__container {
    width: 100%;
    @include flex(center, flex-end);
    font-size: 20px;
    margin-top: 20px;
    & > input {
        width: 200px;
        font-size: 15px;
        border: 0px solid transparent;
    }
    &:last-of-type {
        margin-bottom: 40px;
    }
}

.siginpage--btn {
    margin-top: 40px;
}

.required--signin {
    box-shadow: 0 0 10px 0 red;
    background-color: lighten(red, 35);
}

.signin--btn__cancel {
    margin-top: 20px;
    height: 30px;
    width: 300px;
    @include flex(center, center);
    background-color: transparentize($grey, .2);
    &:hover {
        cursor: pointer;
    }
}



